# Python Virtual Environment
venv/
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Project Data & Models (Do not push raw downloads & heavy model adapters to Git)
data/raw/
outputs/
unsloth_compiled_cache/
scratch/

# Environment Variables & Logs
.env
*.log
*.tmp

# IDE Caches
.vscode/
.idea/
.DS_Store
